.playContainer{
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    filter: brightness(var(--brightness)) contrast(110%) saturate(110%);
}
.playLeft{
    flex: 4.48 1;
    transition:  marginTop 2s ease-in;
    animation: ainimd 3s ease-in-out;
}


.PlayersContainer{
    border: 1px solid #E7E0D6;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: flex;
}

.title{
    flex: 2 ;
    padding-left: 1%;
}
.Works > li{
    line-height: 1.5em; 
}
.title> h1 {
    line-height: 1;
}
.episodes{
   background-color: #FFFFFF;
}
.episodesList{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.episodesList li{
    width: 10%;
    margin: 1%;
    text-align: center;
    border: 1px solid #E7E0D6;
    background-color: antiquewhite;
}
/* 聊天室 */
.zoomtitle {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 9%;
}
.playRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #E7E0D6;
}
.playRight > h1{
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align:middle;
}
.ChatBox{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.ChatBox .chatContainer{
    width: 100%;
    border-top: 1px solid #FFFFFF;
    color: #FFFFFF;
   
    
}
.edit{
   display: flex;
   align-items: center;
}
.chatp{
    text-align: center;
    animation-name: texlength;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    /* animation-iteration-count: infinite; */
    animation-direction: alternate;

}
.chatcom{
    overflow: scroll;
}
#paragraph{
    /* width: 90%; */
    width: 100%;
    caret-color: #FFFFFF;
    height: 92%;
    padding: 4%;
    resize: none;
    background-color: black;
    color: #FFFFFF;
    border-right: 0;
}
/* 评论 */
.leftp,.rightp{
    padding-top: 2%;
}
.leftp span,.rightp span{
    font-size: 1.5em;
    line-height: 1.5em;
    display: block;
}
.leftp span {
    color: rgb(239, 98, 98);
}
.rightp span{
    color: rgb(228, 149, 121);

}
.rightp{
    text-align: right;
}
.section{
    height: 44rem;
}
@keyframes ainimd{
   0%{
    transform: translateY(50px);
   
   }
   100%{
    transform: translateY(0px);
   }
}
/* @keyframes texlength {
    0%{
     color: brown;
     
    }
    50%{
        color: tomato;
    }
    100%{
         display: none;
    }
    
} */

@media (max-width: 768px){ 
    .playContainer{
        flex-direction: column;
    }
    .title> h1 {
        display: none;
        line-height: 1;
    }
    .playLeft{
        flex: 1;
        transition:  marginTop 2s ease-in;
        animation: ainimd 3s ease-in-out;
    }
   .playRight{
    display: block;
    /* display: none; */
   }
   .section{
    height: auto;
   }
   .episodesList li{
    width: auto;
   }
   .zoomtitle {
   display: none;
 }
 }